@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
* {
    box-sizing: border-box;
}

body {
    background: #010202;
    font-family: 'Source Sans Pro', sans-serif;
}

a {
    text-decoration: none;
}

.app {
    background: linear-gradient(90deg, #010202 -2.88%, rgba(1, 2, 2, 0.2) 44.9%),
        url('../img/cover-image.jpg') no-repeat top right;

    min-height: 100vh;
    color: #e5e5e5;
}

.header {
    max-width: 1146px;
    margin: auto;
    padding: 56px 0;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: block;
}

.user-img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

.user {
    display: flex;
    align-items: center;
}

.username {
    color: #fff;

    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;

    margin-right: 15px;
}

.film {
    max-width: 1146px;
    margin: auto;
    padding: 6% 0;
}

.tags {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    opacity: 0.4;

    font-size: 16px;
    line-height: 140%;
}

.tags > * {
    margin-right: 15px;
}

.age {
    border: 1px solid #ffffff;
    box-sizing: border-box;
    border-radius: 2px;
    padding: 1px 5px;
}

.description {
    max-width: 460px;

    font-size: 21px;
    line-height: 140%;

    margin-bottom: 36px;
}

.button {
    padding: 11px 26px;
    border-radius: 6px;
    border: none;
    
    font-size: 16px;
    line-height: 140%;
    vertical-align: text-bottom;

    background: #2F2F2F;
    color: white;

    cursor: pointer;
    outline: none;
}

.button-primary {
    background: #ea6e20;
    margin-right: 15px;
}

.button-text {
    margin-left: 10px;
}