@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
* {
    box-sizing: border-box;
}

body {
    background: #010202;
    font-family: 'Source Sans Pro', sans-serif;
}

a {
    text-decoration: none;
}

.app {
    background: linear-gradient(90deg, #010202 0%, #010202 45%, rgba(1, 2, 2, 0.2) 90%);
    /* url('../img/cover-image.jpg') no-repeat center right; */

    min-height: 100vh;
    color: #e5e5e5;
}

.header {
    max-width: 1146px;
    margin: auto;
    padding: 56px 0;

    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 20px;
}

.logo {
    display: block;
}

.user-img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

.user {
    display: flex;
    align-items: center;
}

.username {
    color: #fff;

    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;

    margin-right: 15px;
}

.film {
    max-width: 1146px;
    margin: auto;
    padding: 6% 0;
    margin: 0 20px;
}

.tags {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
    opacity: 0.4;

    font-size: 16px;
    line-height: 140%;
}

.tags > * {
    margin-right: 15px;
}

.age {
    border: 1px solid #ffffff;
    box-sizing: border-box;
    border-radius: 2px;
    padding: 1px 5px;
}

.description {
    max-width: 460px;

    font-size: 21px;
    line-height: 140%;

    margin-bottom: 36px;
}

.button {
    padding: 11px 26px;
    border-radius: 6px;
    border: none;

    font-size: 16px;
    line-height: 140%;

    background: #2f2f2f;
    color: white;

    cursor: pointer;
    outline: none;
}

.button-primary {
    background: #ea6e20;
    margin-right: 15px;
}

.button-text {
    margin-left: 10px;
    vertical-align: text-bottom;
}

.contact-form {
    background: linear-gradient(90deg, #010202 0%, rgba(1, 2, 2, 0.1));
    color: #e5e5e5;
}

.h2-form {
    margin-top: 5px;
}

.label-email {
    display: block;
    margin-bottom: 10px;

    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Chrome/Safari/Opera */
    -khtml-user-select: none; /* Konqueror */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  not supported by any browser */
}

.input-email {
    margin-right: 10px;
    padding: 10px;
    margin-bottom: 15px;
}

@media (max-width: 768px) {
    .app {
        height: auto;
        padding-bottom: 350px;
        background: url('../img/cover-image.jpg') no-repeat bottom center / 300px;
    }

    video {
        display: none;
    }

    .film {
        padding-top: 2%;
    }

    .description {
        font-size: 16px;
        max-width: 333px;
    }

    .film-logo {
        max-width: 100%;
    }
}

@media (max-width: 576px) {
    .header {
        padding: 25px 0;
    }

    .button-text {
        display: none;
    }

    .username {
        display: none;
    }

    .app {
        padding-bottom: 300px;
        background-size: 300px;
    }

    .button {
        margin-bottom: 10px;
    }
}
